<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>無料制作キャンペーン</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
  <header>
    <div class="header-container">
      <div id="headCN">
        <img class= "logo" src="../assets/images/tela.create-logo.png" alt="" style="height:50px"style="width:50px">
        <p id = "camName">Tela.create</p>
      </div>
        <h1>HP無料制作キャンペーン</h1>
        <a href="#" class="cta-button">無料制作を申し込む</a>
    </div>
    <nav>
        <ul>
            <li><a href="../views/index.html">ホーム</a></li>
            <li><a href="#">特典</a></li>
            <li><a href="#">制作プロセス</a></li>
            <li><a href="#">お問い合わせ</a></li>
        </ul>
    </nav>
  </header>
  <section class="faq-section">
    <h2>プライバシーポリシー</h2>
    <div class="faq-item">
        <h3>1. 収集される情報</h3>
        <p>1.1. 当社は、ホームページの無料制作および保守運用サービスを提供する際に、お客様から提供された情報を収集することがあります。これには、名前、連絡先情報、ウェブサイトに関する情報が含まれます。</p>
        <p>1.2. 当社は、お客様のウェブサイトにアクセスする際に生成された技術的な情報（IPアドレス、ブラウジングデータ、デバイス情報など）を収集することがあります。</p>
    </div>
    <div class="faq-item">
        <h3>2. 情報の利用</h3>
        <p>2.1. 収集された情報は、ホームページの制作、保守運用、お客様へのサポート提供、およびサービス改善のために使用されます。</p>
        <p>2.2. 当社は、お客様の個人情報を第三者と共有することはありません。ただし、法的要件や契約履行に関連する場合を除きます。</p>
    </div>
    <div class="faq-item">
        <h3>3. データの保管</h3>
        <p>3.1. 当社は、お客様の情報を適切に保管し、必要なセキュリティ措置を講じて保護します。</p>
        <p>3.2. お客様のデータは、必要な期間にわたって保管され、不要な場合には安全な方法で破棄されます。</p>
    </div>
    <div class="faq-item">
        <h3>4. クッキーおよびトラッキング技術</h3>
        <p>4.1. 当社のウェブサイトは、クッキーやトラッキング技術を使用することがあります。これらの技術は、ウェブサイトの効果的な運営および利用者の体験向上のために使用されます。</p>
        <p>4.2. 利用者は、ブラウザ設定を変更してクッキーの受け入れを制限または無効にすることができますが、一部のサービスや機能が制限される可能性があります。</p>
    </div>
    <div class="faq-item">
        <h3>5. お問い合わせとアクセス権</h3>
        <p>5.1. お客様は、自身の個人情報にアクセスし、訂正、削除、または情報の更新を要求する権利を持っています。詳細についてはお問い合わせください。</p>
    </div>
    <div class="faq-item">
        <h3>6. 変更通知</h3>
        <p>6.1. 当社は、プライバシーポリシーの変更を行う場合があります。変更内容はウェブサイト上で通知されます。</p>
    </div>
    <div class="faq-item">
        <h3>7. お問い合わせ</h3>
        <p>7.1. プライバシーポリシーに関するお問い合わせは、以下の連絡先までお気軽にご連絡ください。<br>
          連絡先: <a href="mailto:t.m.t.k.m.s.k.n.k@gmail.com">tela.create</a>
        </p>
    </div>
  </section>
  <footer class="footer-section">
    <div class="footer-content">
        <div class="footer-left">
            <p>&copy; 2023 Tela.create </p>
            <a href="#">プライバシーポリシー</a> | <a href="../views/agreement.html">利用規約</a>
        </div>
        <div class="footer-right">
            <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
            <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
            <a href="#"><img src="linkedin-icon.png" alt="LinkedIn"></a>
        </div>
    </div>
  </footer>
</body>
</html>