<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>無料制作キャンペーン</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
  <header>
    <div class="header-container">
      <div id="headCN">
        <img class= "logo" src="../assets/images/tela.create-logo.png" alt="" style="height:50px"style="width:50px">
        <p id = "camName">Tela.create</p>
      </div>
        <h1>HP無料制作キャンペーン</h1>
        <a href="#" class="cta-button">無料制作を申し込む</a>
    </div>
    <nav>
        <ul>
            <li><a href="../views/index.html">ホーム</a></li>
            <li><a href="#">特典</a></li>
            <li><a href="#">制作プロセス</a></li>
            <li><a href="#">お問い合わせ</a></li>
        </ul>
    </nav>
  </header>

</body>
</html>